
<div class="container">
  <div ng-controller="TodoListController as todoList">
        <div>
        <h2 class="form-group pull-left" >Course</h2>
        <div class="form-group pull-right">
        <!-- <span class="counter pull-right"></span> -->
        <div align="right" style="width: 300px; margin-top: 30px;">
        <span class="counter pull-left"></span>
        <input type="text pull-rig ht" style="display: block; width: 200px;" class="search form-control" placeholder="What you looking for?">
        </div>
    </div>
    </div>
    <table class="table table-striped table-hover results">
    <thead>
        <tr>
            <th>Subject ID</th>
            <th>Subject Name</th>
            <th></th>
        </tr>
         <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
    </thead>
        <tr ng-repeat="subject in todoList.subjects">
            <td>{{subject.id}}</td>
            <td title="{{subject.description.en}}&#013;{{subject.description.th}}">{{subject.name.en}}<br>{{subject.name.th}}
            </td>
            <td><button type="button" class="btn btn-primary" style="width:90px" ng-hide="todoList.enrolled.hasOwnProperty(subject.id)"  data-toggle="modal" data-target="#{{subject.id}}"> Enroll </button>
                <button type="button" class="btn btn-default" style="width:90px" disabled ng-hide="!todoList.enrolled.hasOwnProperty(subject.id)" data-toggle="modal" data-target="#{{subject.id}}">Enrolled</button>
                <!-- Modal content-->
                <div class="modal fade" id="{{subject.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel" >{{subject.name.en}}</h4>
                            </div>
                            <div class="modal-body">

                                <div style="margin:5%">
                                    {{subject.description.en}}
                                    <br>
                                    {{subject.description.th}}
                                </div>

                                <div class="dropdown" style="margin:3%">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">Section
                                      <span class="caret"></span></button>

                                      <ul class="dropdown-menu">
                                        <li ng-repeat="section in subject.sections" ng-click="todoList.select(subject,section)" ng-disabled="{{section.accept-section.enrolled}}<1"><a>{{section.id}}</a></li>
                                        <li ng-show="!subject.sections.length"><a>---</a></li>
                                    </ul>
                                    <b style="margin:3%">{{todoList.selected[subject.id].id}} Available : {{todoList.selected[subject.id].accept-todoList.selected[subject.id].enrolled}}</b>
                                </div>
                                

                            </div>
                            <div class="modal-footer">
                                <button type="button" ng-click="todoList.enroll(subject)" ng-disabled="todoList.selected[subject.id].accept-todoList.selected[subject.id].enrolled<1" class="btn btn-primary" data-dismiss="modal">Enroll</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
            </td>

        </tr>
    </table>


</div>
</div>