<div class="container">
  <h2>Todo</h2>
  <div ng-controller="homeController as home">
    
    <table class="table table-striped table-hover results">
        <tr>
            <th>Subject ID</th>
            <th>Subject Name</th>
            <th>Section</th>
            <th></th>
        </tr>
        <tr ng-repeat="course in home.subjects" ng-if="home.enrolled.hasOwnProperty(course.id)">
            <td>{{course.id}}</td>
            <td title="{{course.description.en}}&#013;{{course.description.th}}">{{course.name.en}}<br>{{course.name.th}}
            </td>
            <td> {{home.enrolled[course.id]}}</td>
            <td><button type="button" class="btn btn-danger" style="width:90px" ng-click="home.drop(course.id)" >Drop</button>
            </td>

        </tr>
    </table>

  </div>
</div>
