.done-true {
  text-decoration: line-through;
  color: grey;
}


.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}

div.tooltip-inner {
    max-width: 600px;
}